        <footer>
            <p>
               Created by Kathleen Stickel<br>
               <a href="https://github.com/kstick9210/nps-visits" target="_blank">
                    <img class="gh" src="https://i.imgur.com/71WSpc0.png" />
                    <img class="gh" src="https://i.imgur.com/3J01ITc.png" />
                </a> 
            </p>
            <p id="disclaim">This project is not affiliated with the National Park Service<br> 
                or Department of Interior.</p>
        </footer>
    </body>
</html>