<%- include('./partials/header') %>
<main>
    <p id="blurb">
        A place to keep track of all of your National Park adventures.
    </p>
    <p>
        <a class="link" href="/auth/google">Click here</a> to get started.
    </p>
</main>
<%- include('./partials/footer') %>