<%- include('./partials/header') %>
<form id="newVisit" action="/visits" method="POST">
    <label for="parkName">Park:
        <select name="parkName" id="park-choices" required>
            <option selected disabled>--Select a park from the list--</option>
        <% parkName.forEach(function(park) { %>
            <option><%= park %></option>
        <% }); %>
        </select>
    </label>
    <label for="date">Date Visted: 
        <input id="date" type="date" name="date" required>
    </label>
    <button type="submit">Add</button>
</form>
<%- include('./partials/footer') %>