<%- include('./partials/header') %>
<form class="park-list" action="/new" method="GET">
    <label for="parkName"></label>
    <input list="park-names" id="park-choices" name="parkName" placeholder="Enter a park name to search (i.e., Yosemite)"/>
    <datalist id="park-names">
        <% parkName.forEach(function(park) { %>
            <option><%= park %></option>
        <% }); %>
    </datalist>
    <button type="submit">Add</button>
</form>
<%- include('./partials/footer') %>