<%- include('./partials/header') %>
<form action="/new" method="GET">
<input type="text" name="park" class="search" placeholder="Enter a park name to search (i.e., Yosemite)">
<button type="submit">Submit Search</button>
</form>
<%- include('./partials/footer') %>