* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 10vh 75vh 15vh;
}

nav, footer {
  background-color: rgb(79, 92, 46);
  color: white;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Acme', sans-serif;
}

#logo { height: 60px; }

#large { font-size: 40px;}

.loginout {
  text-decoration: none;
  color: white;
  
}
main {
  justify-items: center;
}

#blurb {
  width: 60vw;
  text-align: center;
  border: thick double;
}

footer {
  text-align: center;
  font-size: small;
}

footer > p > a {
  text-decoration: none;
}

.gh { 
  height: 20px;
  padding-top: 3px;
}

#park-choices, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

#park-choices { 
  width: 350px;
}

button {
  background-color: rgb(79, 92, 46);
  color: white;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo { height: 70px;}

  #large { font-size: 60px;}

  .loginout { font-size: 20px;}
}